<style>
  :host {
    display: block;
    background: #fff;
    padding: 2rem !important;
    border-top: 1px solid var(--bg);
    border-radius: var(--radius);
    text-align: center;
    transition: all 0.3s;
  }

  :host(:hover) {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
  }

  .feature-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  ::slotted(h3) {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  ::slotted(p) {
    color: var(--text-light);
  }
</style>

<div class="feature-icon">{icon}</div>
<slot name="header"></slot>
<slot></slot>
